@inherits LayoutComponentBase
<div class="app-layout">
    <main class="d-flex">
        <div class="sidebar">
            <NavMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
